
/c:/project/logs/custinfo.log
/src/main/resources/static/webfonts/et-line-font/fonts/FontAwesome.otf
/target/classes/static/webfonts/et-line-font/fonts/FontAwesome.otf
/src/main/resources/static/webfonts/et-line-font/fonts/fontawesome-webfont.eot
/target/classes/static/webfonts/et-line-font/fonts/fontawesome-webfont.eot
/src/main/resources/static/webfonts/et-line-font/fonts/fontawesome-webfont.svg
/target/classes/static/webfonts/et-line-font/fonts/fontawesome-webfont.svg
/src/main/resources/static/webfonts/et-line-font/fonts/fontawesome-webfont.ttf
/target/classes/static/webfonts/et-line-font/fonts/fontawesome-webfont.ttf
/src/main/resources/static/webfonts/et-line-font/fonts/fontawesome-webfont.woff
/target/classes/static/webfonts/et-line-font/fonts/fontawesome-webfont.woff
/src/main/resources/static/webfonts/et-line-font/fonts/fontawesome-webfont.woff2
/target/classes/static/webfonts/et-line-font/fonts/fontawesome-webfont.woff2
/c:/project/logs/logback.2023-05-31.0.log.gz
/c:/project/logs/logback.2023-06-01.0.log.gz
/c:/project/logs/logback.2023-06-01.1.log.gz
/c:/project/logs/logback.2023-06-01.2.log.gz
/c:/project/logs/logback.2023-06-02.0.log.gz
/c:/project/logs/logback.2023-06-02.1.log.gz
/c:/project/logs/logback.2023-06-02.2.log.gz
/c:/project/logs/logback.2023-06-05.0.log.gz
/c:/project/logs/logback.2023-06-12.0.log.gz
/c:/project/logs/logback.2023-06-13.0.log.gz
/c:/project/logs/logback.2023-06-13.1.log.gz
/c:/project/logs/logback.2023-06-13.2.log.gz
/c:/project/logs/logback.2023-06-14.0.log.gz
/c:/project/logs/logback.2023-06-14.1.log.gz
/c:/project/logs/logback.2023-06-15.0.log.gz
/c:/project/logs/logback.2023-06-15.1.log.gz
/c:/project/logs/logback.log
/target/test-classes/com/kbstar/ncp/OCRTests.class
/target/classes/application.properties
/target/classes/logback.xml
