<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.RecipeMapper">

    <select id="getpage" resultType="recipebasic">
        SELECT *
        FROM recipe_basic
        ORDER BY recipepin DESC
    </select>

    <select id="getsearch" parameterType="String" resultType="recipebasic">
        SELECT *
        FROM recipe_basic
        where recipetitle LIKE '%' || #{recipetitle} || '%'
        ORDER BY recipepin DESC
    </select>


<!--    <select id="getpagesearch" parameterType="String" resultType="item">-->
<!--        SELECT *-->
<!--        FROM item-->
<!--        where NAME LIKE '%' ||upper(#{name})|| '%'-->
<!--        ORDER BY id DESC-->
<!--    </select>-->
<!--    <select id="getpagecate" parameterType="String" resultType="item">-->
<!--        SELECT *-->
<!--        FROM item-->
<!--        where category = #{category}-->
<!--        ORDER BY id DESC-->
<!--    </select>-->

    <select id="select" parameterType="Integer" resultType="recipebasic">
        SELECT *
        FROM recipe_basic
        WHERE recipepin = #{recipepin}
    </select>

    <select id="selectall" resultType="recipebasic">
        SELECT *
        FROM recipe_basic
    </select>


    <!--    <insert id="insert" parameterType="recipebasic">-->
<!--        INSERT INTO recipebasic-->
<!--        VALUES (recipebasic_seq.NEXTVAL, #{name}, #{price}, #{imgname}, SYSDATE)-->
<!--    </insert>-->

<!--    <update id="update" parameterType="recipebasic">-->
<!--        UPDATE item-->
<!--        SET name=#{name},-->
<!--            price=#{price},-->
<!--            imgname=#{imgname}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

<!--    <delete id="delete" parameterType="Integer">-->
<!--        DELETE-->
<!--        FROM recipebasic-->
<!--        WHERE id = #{id}-->
<!--    </delete>-->
<!--    -->
<!--    <select id="search" parameterType="recipeSearch" resultType="recipebasic">-->
<!--        SELECT * FROM recipebasic-->
<!--        <where>-->
<!--            <if test="name != null and !name.equals('') ">-->
<!--                AND name LIKE '%'||upper(#{name})||'%'-->
<!--            </if>-->
<!--            <if test="category != null and !category.equals('')">-->
<!--                AND category = #{category}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

<!--    <select id="searchcategory" parameterType="recipeSearch" resultType="recipebasic">-->
<!--        SELECT * FROM recipebasic-->
<!--        <where>-->
<!--            <if test="category != null and !category.equals('')">-->
<!--                AND category = #{category}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

</mapper>